PORT=5000
MONGO_URI=mongodb+srv://vpranathi9000:Pranu34433@cluster0.czwnizm.mongodb.net/student
# MONGO_URI=mongodb+srv://pranathi:Pranu34433@cluster0.ukvfkri.mongodb.net/food
JWT_SECRET=supersecretjwtkey

EMAIL_USER=vpranathi9000@gmail.com
EMAIL_PASS=zftgsxgwmymqawfa
GOOGLE_CLIENT_ID=677219864654-vut2tlu52rsn8jjbvv4lg3mk2544uvmp.apps.googleusercontent.com